{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}


<!-- <div itemscope itemtype="https://schema.org/Person" class="h-card"> -->

    <!-- AUTHOR__IMAGE -->
<div class="author__container">
    <div class="author__avatar">
        <img src="/assets/images/profile/main.jpeg" alt="icon" style="margin-top: 10px; margin-bottom: 10px; width: 80%; height: auto;">
    </div>

    <!-- AUTHOR__CONTENT -->
    <div class="author__content">
        <p style="font-family: Graphik; font-size: 20px; font-weight: bold;margin-top: 0px; margin-bottom: 0px;">Elton Shih</p>
        <p style="font-family: Graphik; font-size: 14px; font-weight: normal;margin-top: 0px; margin-bottom: 0px;">ece phd student @cornell</p>
        
        <p style="margin-top: 0px; margin-bottom: 0px;"><a href="https://github.com/beebdev" target="_blank" style="font-family: Graphik; font-size: 14px; font-weight: normal; margin-top: 0px; margin-bottom: 0px;">( github )</a></p>
        <p style="margin-top: 0px; margin-bottom: 0px;"><a href="https://www.linkedin.com/in/eltonshih/" target="_blank" style="font-family: Graphik; font-size: 14px; font-weight: normal; margin-top: 0px; margin-bottom: 0px;">( linkedin )</a></p>
        <p style="margin-top: 0px; margin-bottom: 0px;"><a href="https://scholar.google.com.au/citations?user=CJNjaxkAAAAJ&hl=en&oi=sra" target="_blank" style="font-family: Graphik; font-size: 14px; font-weight: normal; margin-top: 0px; margin-bottom: 0px;">( google scholar )</a></p>
        <p style="margin-top: 0px; margin-bottom: 0px;"><a href="mailto:eshih.pj@gmail.com" target="_blank" style="font-family: Graphik; font-size: 14px; font-weight: normal; margin-top: 0px; margin-bottom: 0px;">( email )</a></p>
    
    </div>
</div>
<!-- </div> -->