---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@font-face {
  font-family: 'Austin';
  src: url('/assets/fonts/Austin-Medium-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/Graphik-Medium-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Graphik-Bold';
    src: url('/assets/fonts/GraphikCompact-BlackItalic-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 14px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 12px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 14px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 16px; // change to whatever
    }
}
a {
    text-decoration: none;
  }

p{
  .hfill-right {
    text-align: justify;
  }
  
  .hfill-right::before {
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .hfill-right-text {
    text-align: right;
  }
}

.fa-linkedin,
.fa-linkedin-in {
  color: $background-color;
}