---
layout: archive
---

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    .pub-type {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 10px;
    }

    .b-font {
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        margin-top: 0;
    }

    .entry {
        border: 1px solid #ccc;
        /* Light grey border */
        margin-bottom: 10px;
        /* Adds space between entries */
        padding: 15px;
        /* Adds padding inside the border */
        border-radius: 10px;
        /* Optional: rounds the corners */
    }

    /* Custom Button Styling */
    .pub-button {
        background-color: #e9e9e9;
        /* Green background */
        border: #929292;
        color: blue;
        padding: 3px 5px 3px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: smaller;
        margin: 5px 0px 0px 0px;
        cursor: pointer;
        border-radius: 5px;
        /* Rounded corners */
        transition: background 0.3s, transform 0.3s;
        /* Smooth transition for background and transform */

        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .pub-button:hover {
        background-color: #cfcfcf;
        /* Darker shade of green on hover */
    }

    .pub-button:active {
        transform: scale(0.98);
        /* Slightly scale down when clicked */
    }

    .entry {
        position: relative;
        /* Other styles remain unchanged */
    }

    .logo-bottom-right {
        position: absolute;
        bottom: 10px; /* Distance from bottom */
        right: 10px; /* Distance from right */
        width: 50px; /* Width of the logo */
        height: auto; /* Maintain aspect ratio */
        opacity: 0.5; /* Make the logo slightly transparent */
        -webkit-user-drag: none; /* Prevents dragging on Webkit browsers */
        user-drag: none; /* Prevents dragging on non-Webkit browsers */
        -webkit-user-select: none; /* Prevents text selection on Webkit browsers */
        -moz-user-select: none; /* Prevents text selection on Firefox */
        -ms-user-select: none; /* Prevents text selection on Internet Explorer/Edge */
        user-select: none; /* Prevents text selection on non-Webkit browsers */
        pointer-events: none; /* Prevents click events such as right-click save image */
    }
</style>

<!-- JOURNALS -->
<h2 class="pub-type">Peer Reviewed Journal Articles</h2>
<div class="entries-{{ entries_layout }}">
    {% assign pubs = site.publications | where_exp: "item", "item.hidden != true" | where: 'pub_type', 'journal' %}
    {% for pub in pubs %}
        {% include publication.html publication=pub %}
    {% endfor %}
</div>

<!-- DISSERTATIONS -->
<h2 class="pub-type">Dissertations</h2>
<div class="entries-{{ entries_layout }}">
    {% assign pubs = site.publications | where_exp: "item", "item.hidden != true" | where: 'pub_type', 'dissertation' %}
    {% for pub in pubs %}
        {% include publication.html publication=pub %}
    {% endfor %}
</div>

<!-- TALKS -->
<h2 class="pub-type">Talks</h2>
<div class="entries-{{ entries_layout }}">
    {% assign pubs = site.publications | where_exp: "item", "item.hidden != true" | where: 'pub_type', 'oral' %}
    {% for pub in pubs %}
        {% include publication.html publication=pub %}
    {% endfor %}
</div>

<!-- POSTERS -->
<h2 class="pub-type">Poster Presentations</h2>
<div class="entries-{{ entries_layout }}">
    {% assign pubs = site.publications | where_exp: "item", "item.hidden != true" | where: 'pub_type', 'poster' %}
    {% for pub in pubs %}
        {% include publication.html publication=pub %}
    {% endfor %}
</div>